<!DOCTYPE html>

<head>
    <script src="../../libs/jquery-2.1.3.js"></script>
    <script src="../../libs/fastclick.js"></script>
    <script src="../../globals/js/globals.js"></script>
    <script src="js/show.js"></script>
    <link rel="stylesheet" href="../../libs/bootstrap-3.3.2-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../globals/css/globalStylesheet.css">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>


<body>
    <p class="logo">Order System</p>
    
    <div class="menuItem" id="allDrinks"> 
        <br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;All Drinks</p>
    </div>

    <div class="menuItem" id="hotDrinks"> 
        <br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Hot Drinks</p>
    </div>
    
    <div class="menuItem" id="coldDrinks"> 
        <br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Cold Drinks</p>
    </div>
    
    <div class="menuItem" id="frappuccinos"> 
        <br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Frappuccinos</p>
    </div>
    
    <div class="menuItem" id="teas"> 
        <br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Teas</p>
    </div>
    
    
    <!--<script type="text/javascript"> show();</script>-->
    
    <script src="js/init.js"></script>

    <script src="../../libs/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
</body>